# kaos
# https://discord.com/api/oauth2/authorize?client_id=824871170439643176&permissions=0&scope=bot%20applications.commands
DISCORD_APP_ID=824871170439643176
DISCORD_PUBLIC_KEY=string
DISCORD_TOKEN=string
